pkgbase = omaspeak-bin
	pkgdesc = Local-first text-to-speech application and daemon (pre-built binary)
	pkgver = 0.0.1.rc.2
	pkgrel = 1
	url = https://github.com/jacob-vincent-mink/omaspeak
	install = omaspeak-bin.install
	arch = x86_64
	license = MIT
	depends = alsa-utils
	depends = bzip2
	depends = gcc-libs
	depends = glibc
	optdepends = pipewire-audio: audio playback through pw-play
	optdepends = openvino: Intel CPU acceleration runtime
	optdepends = openvino-intel-gpu-plugin: Intel GPU device support for OpenVINO
	optdepends = openvino-intel-npu-plugin: Intel NPU device support for OpenVINO
	optdepends = cuda: NVIDIA CUDA libraries for an external CUDA runtime bundle
	optdepends = cudnn: NVIDIA neural-network libraries for an external CUDA runtime bundle
	provides = omaspeak=0.0.1.rc.2
	conflicts = omaspeak
	options = !strip
	source = omaspeak-0.0.1-rc.2-linux-x86_64.tar.xz::https://github.com/jacob-vincent-mink/omaspeak/releases/download/v0.0.1-rc.2/omaspeak-0.0.1-rc.2-linux-x86_64.tar.xz
	sha256sums = ed247a8aaef6d18c9d134af902a6248b56ea439aebdb1e838eeda8f741e5a503

pkgname = omaspeak-bin
