pkgbase = omawake-bin
	pkgdesc = Configurable local wake-word daemon (pre-built binary)
	pkgver = 0.0.1.rc.2
	pkgrel = 1
	url = https://github.com/jacob-vincent-mink/omawake
	install = omawake-bin.install
	arch = x86_64
	license = MIT
	depends = alsa-lib
	depends = bzip2
	depends = gcc-libs
	depends = glibc
	optdepends = pipewire-audio: PipeWire audio support
	optdepends = openvino: Intel runtime for an externally supplied OpenVINO provider bundle
	optdepends = openvino-intel-gpu-plugin: Intel GPU device support for OpenVINO
	optdepends = openvino-intel-npu-plugin: Intel NPU device support for OpenVINO
	optdepends = cuda: NVIDIA CUDA libraries for an external CUDA runtime bundle
	optdepends = cudnn: NVIDIA neural-network libraries for an external CUDA runtime bundle
	provides = omawake=0.0.1.rc.2
	conflicts = omawake
	options = !strip
	source = omawake-0.0.1-rc.2-linux-x86_64.tar.xz::https://github.com/jacob-vincent-mink/omawake/releases/download/v0.0.1-rc.2/omawake-0.0.1-rc.2-linux-x86_64.tar.xz
	sha256sums = 198b4a85b3760f024e088c7b45d5bf85c9eb4f000de0b33aa064b33a860b1acc

pkgname = omawake-bin
